force-app/main/default/flows/Bid_And_Proposal_History_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Auto_Approval</name>
        <label>Call Auto Approval</label>
        <locationX>456</locationX>
        <locationY>206</locationY>
        <actionName>OpportunityAutoApproval</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Bid_Approval_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>opportunityIds</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OpportunityAutoApproval</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Bid And Proposal History Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bid And Proposal History Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Bid_Approval_Screen</name>
        <label>Bid Approval Screen</label>
        <locationX>456</locationX>
        <locationY>397</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ProposalApprovalMessage</name>
            <fieldText>&lt;p&gt;The Opportunity &lt;strong&gt;{!recordId.Name} &lt;/strong&gt;has&lt;strong&gt; &lt;/strong&gt;been submitted for &lt;strong&gt;Bid Approval&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;Check the&lt;strong&gt; Approval History&lt;/strong&gt; tab for more information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Call_Auto_Approval</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
