force-app/main/default/flows/Calculating_Award.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Populate_with_Award_Value</name>
        <label>Populate with Award Value</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Revenue_Awarded</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Populate_with_Proposed_Value</name>
        <label>Populate with Proposed Value</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Revenue_Proposed</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Populate_with_zero</name>
        <label>Populate with zero</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Amount_Decision</name>
        <label>Amount Decision</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Populate_with_zero</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Award_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Revenue_Awarded</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_with_Award_Value</targetReference>
            </connector>
            <label>Award Value</label>
        </rules>
        <rules>
            <name>Proposed_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Revenue_Proposed</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Revenue_Awarded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_with_Proposed_Value</targetReference>
            </connector>
            <label>Proposed Value</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AdditionalRevenueAwarded</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!$Record.dbt__Additional_Revenue_Awarded__c}),0,{!$Record.dbt__Additional_Revenue_Awarded__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>AdditionalRevenueProposed</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!$Record.dbt__Additional_Revenue_Proposed__c}),0,{!$Record.dbt__Additional_Revenue_Proposed__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>EstimatedRevenueAwarded</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!$Record.dbt__Estimated_Revenue_Awarded__c}),0,{!$Record.dbt__Estimated_Revenue_Awarded__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>EstimatedRevenueProposed</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!$Record.dbt__Estimated_Revenue_Proposed__c}),0,{!$Record.dbt__Estimated_Revenue_Proposed__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Recurring_Non_RecurringAwarded</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!$Record.dbt__Recurring_Non_Recurring_Awarded__c}),0,{!$Record.dbt__Recurring_Non_Recurring_Awarded__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Recurring_Non_RecurringProposed</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!$Record.dbt__Recurring_Non_Recurring_Proposed__c}),0,{!$Record.dbt__Recurring_Non_Recurring_Proposed__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Revenue_Awarded</name>
        <dataType>Currency</dataType>
        <expression>{!AdditionalRevenueAwarded}+{!EstimatedRevenueAwarded}+{!Recurring_Non_RecurringAwarded}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Revenue_Proposed</name>
        <dataType>Currency</dataType>
        <expression>{!AdditionalRevenueProposed}+{!EstimatedRevenueProposed}+{!Recurring_Non_RecurringProposed}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Calculating Award {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculating Award</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Amount_Decision</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
