force-app/main/default/flows/Currency_Conversion_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoke_Apex</name>
        <label>Invoke Apex</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>CurrencyExchangeRate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Conversion_Rate</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>strings</name>
            <value>
                <elementReference>strings</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CurrencyExchangeRate</nameSegment>
        <outputParameters>
            <assignToReference>ConversionRate</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Currencies</name>
        <label>Assign Currencies</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>strings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>From_Currency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>To_Currency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invoke_Apex</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>ConvertedCurrency</name>
        <dataType>Number</dataType>
        <expression>{!Enter_Currency_Value_to_Convert}*{!ConversionRate}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Currency Conversion Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Currency Conversion Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Currency_Input</name>
        <label>Currency Input</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Currencies</targetReference>
        </connector>
        <fields>
            <name>From_Currency</name>
            <dataType>String</dataType>
            <fieldText>From Currency</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>To_Currency</name>
            <dataType>String</dataType>
            <fieldText>To Currency</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Check Conversion Rate</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Conversion_Rate</name>
        <label>Display Conversion Rate</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Display_Converted_Currency</targetReference>
        </connector>
        <fields>
            <name>ConversionRateMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;The conversion rate from 1{!From_Currency} to {!To_Currency} is &lt;/strong&gt;&lt;strong style=&quot;color: rgb(28, 189, 26);&quot;&gt;{!ConversionRate}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_Currency_Value_to_Convert</name>
            <dataType>Number</dataType>
            <fieldText>Enter Currency Value to Convert</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <nextOrFinishButtonLabel>Convert</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Converted_Currency</name>
        <label>Display Converted Currency</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayConvertedCurrency</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!Enter_Currency_Value_to_Convert} {!From_Currency} is equal to &lt;/strong&gt;&lt;strong style=&quot;color: rgb(33, 192, 25);&quot;&gt;{!ConvertedCurrency}&lt;/strong&gt;&lt;strong&gt; {!To_Currency}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Currency_Input</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ConversionRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>strings</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
