force-app/main/default/flows/Days_Since_Creation_of_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Days</name>
        <label>Assign Days</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>$Record.No_of_days_since_Creation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>test</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Days_since_Creation</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>Days_since_creation</name>
        <dataType>Number</dataType>
        <expression>DATEVALUE({!$Record.CreatedDate}) - TODAY()</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>test</name>
        <dataType>Number</dataType>
        <expression>TODAY() - DATEVALUE({!$Record.CreatedDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Days Since Creation of Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Days Since Creation of Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Days_since_Creation</name>
        <label>Update Days since Creation</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-12-12</startDate>
            <startTime>08:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
