force-app/main/default/flows/Error_Handling.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>652</locationX>
        <locationY>767</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Fault_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Email_Collection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>krisha.panchamia@digitalbiz.tech</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Closing an Opportunity </stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Collect_Emails</name>
        <label>Collect Emails</label>
        <locationX>477</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>Email_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Email_of_Users.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_User_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Members</name>
        <label>Collect Members</label>
        <locationX>1309</locationX>
        <locationY>111</locationY>
        <assignmentItems>
            <assignToReference>User_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Team_Members.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Public_Group_Members</name>
        <label>Public Group Members</label>
        <locationX>762</locationX>
        <locationY>368</locationY>
        <assignmentItems>
            <assignToReference>PublicGroup_Members</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Public_Group_Members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Public_Group_Members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Number_of_ID</name>
        <label>Check Number of ID</label>
        <locationX>1206</locationX>
        <locationY>376</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Public_Group_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Number_of_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fault_1</targetReference>
            </connector>
            <label>Number of ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Public_Group_Members</name>
        <label>Check Public Group Members</label>
        <locationX>1019</locationX>
        <locationY>598</locationY>
        <defaultConnector>
            <targetReference>Loop_through_User_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Member_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PublicGroup_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fault_3</targetReference>
            </connector>
            <label>Member Check</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Error Handling {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Error Handling</label>
    <loops>
        <name>Loop_through_Public_Group_Members</name>
        <label>Loop through Public Group Members</label>
        <locationX>1015</locationX>
        <locationY>372</locationY>
        <collectionReference>Get_Public_Group_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Public_Group_Members</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Public_Group_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Team_Members</name>
        <label>Loop through Team Members</label>
        <locationX>1067</locationX>
        <locationY>115</locationY>
        <collectionReference>Get_Oppty_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Members</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Number_of_ID</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_User_Id</name>
        <label>Loop through User Id</label>
        <locationX>724</locationX>
        <locationY>541</locationY>
        <collectionReference>User_Ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Email_of_Users</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Email_of_Users</name>
        <label>Get Email of Users</label>
        <locationX>489</locationX>
        <locationY>435</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_Emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_User_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Oppty</name>
        <label>Get Oppty</label>
        <locationX>536</locationX>
        <locationY>88</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Oppty_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Oppty_Team_Members</name>
        <label>Get Oppty Team Members</label>
        <locationX>672</locationX>
        <locationY>87</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Public_Group_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Oppty.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserId</queriedFields>
        <sortField>UserId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Public_Group_Details</name>
        <label>Get Public Group Details</label>
        <locationX>789</locationX>
        <locationY>87</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Public_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Test Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Public_Group_Members</name>
        <label>Get Public Group Members</label>
        <locationX>920</locationX>
        <locationY>85</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Public_Group_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <sortField>UserOrGroupId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Fault_1</name>
        <label>Fault 1</label>
        <locationX>1530</locationX>
        <locationY>328</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_1</name>
            <fieldText>&lt;p&gt;No Opportunity Team Members found.&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_2</name>
        <label>Fault_2</label>
        <locationX>693</locationX>
        <locationY>905</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_2</name>
            <fieldText>&lt;p&gt;0 receipients&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_3</name>
        <label>Fault 3</label>
        <locationX>1332</locationX>
        <locationY>593</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_3</name>
            <fieldText>&lt;p&gt;No public group members found.&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Closed_Won_Lost</name>
        <label>Opportunity Closed Won/Lost</label>
        <locationX>180</locationX>
        <locationY>274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Oppty</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Key_Notes</name>
            <dataType>String</dataType>
            <fieldText>Key Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Oppty.Amount</elementReference>
            </defaultValue>
            <fieldText>Opportunity Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;To close an Opportunity, Amount should be greater than zero.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Opportunity_Amount} = 0</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Send Email</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>64</locationX>
        <locationY>109</locationY>
        <connector>
            <targetReference>Opportunity_Closed_Won_Lost</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Get_Oppty.Name} is closed.&lt;/p&gt;&lt;p&gt;Details : {!Key_Notes}&lt;/p&gt;&lt;p&gt;Amount : {!Opportunity_Amount} &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;System Admin&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Email_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PublicGroup_Members</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
