force-app/main/default/flows/Flow_for_Close_date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EmailAlert</name>
        <label>Email Alert</label>
        <locationX>264</locationX>
        <locationY>516</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Select_Collection_Variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Select_Collection_Variable.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>krisha.panchamia@digitalbiz.tech</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Opportunity Overdue</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <description>Changed to test the today before and after function</description>
    <formulas>
        <name>Before1day</name>
        <dataType>Date</dataType>
        <expression>today ()-1</expression>
    </formulas>
    <formulas>
        <name>Oppty_due_today</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <formulas>
        <name>Today_plus_1</name>
        <dataType>Date</dataType>
        <expression>today()+1</expression>
    </formulas>
    <interviewLabel>Flow for Close date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow for Close date</label>
    <loops>
        <name>Select_Collection_Variable</name>
        <label>Select Collection Variable</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Opportunities_with_due_dates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>EmailAlert</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Records_for_Oppty_Close_Date</name>
        <label>Records for Oppty Close Date</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Collection_Variable</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Before1day</elementReference>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Today_plus_1</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Opportunities_with_due_dates</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Records_for_Oppty_Close_Date</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-11-22</startDate>
            <startTime>02:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;Opportunity OVERDUE&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&quot;&lt;/span&gt;&lt;span style=&quot;font-size: 18px; color: rgb(255, 0, 0);&quot;&gt;{!Select_Collection_Variable.Name}&lt;/span&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&quot; Opportunity is due today.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Close Date: {!Select_Collection_Variable.CloseDate}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Opportunities_with_due_dates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
