force-app/main/default/flows/Lock_Unlock_On_Case_by_Record_Triggered_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Lock_Case</name>
        <label>Lock Case</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>lockRecord</actionName>
        <actionType>lockRecord</actionType>
        <connector>
            <targetReference>Update_Case_ststus</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Lock</stringValue>
            </value>
        </inputParameters>
        <nameSegment>lockRecord</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Unlock_Case</name>
        <label>Unlock Case</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>lockRecord</actionName>
        <actionType>lockRecord</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Unlock</stringValue>
            </value>
        </inputParameters>
        <nameSegment>lockRecord</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Lock/Unlock {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lock/Unlock On Case by Record-Triggered Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Update_Case_ststus</name>
        <label>Update Case ststus</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Unlock_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lock_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
