force-app/main/default/flows/Mass_Transfer_Opportunity_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_New_Owner</name>
        <label>Assign New Owner</label>
        <locationX>270</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Loop_Selected_Opportunity.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>To_Owner.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_All_opportunity</name>
        <label>Count All opportunity</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Opportunites_found</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Two</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Error_Record</name>
        <label>Count Error Record</label>
        <locationX>534</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>records_got_error</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Error_Opty_record_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_and_Id_Collection_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Updated_Records</name>
        <label>Count Updated Records</label>
        <locationX>270</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>Updated_Records_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Updated_Opportunity_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Record_Collection</name>
        <label>Error Record Collection</label>
        <locationX>534</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Error_Opty_record_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Selected_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Error_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Failure_and_Id_Collection_Assignment</name>
        <label>Failure and Id Collection Assignment</label>
        <locationX>534</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Failure_and_Id_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Fault_Formula_with_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_Selected_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Getting_Collection_count</name>
        <label>Getting Collection count</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Selcted_Oppty_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Opportunities.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fourth_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updated_Record_Collection</name>
        <label>Updated Record Collection</label>
        <locationX>270</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Updated_Opportunity_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Selected_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Updated_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Error_Collection</name>
        <label>Check Error Collection</label>
        <locationX>182</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Fifth_Screen_without_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error_Collection_has_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Error_Opty_record_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fifth_Screen_with_error</targetReference>
            </connector>
            <label>Error Collection has Records</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Mass Transfer Opportunity Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mass Transfer Opportunity Flow</label>
    <loops>
        <name>Loop_Selected_Opportunity</name>
        <label>Loop Selected Opportunity</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <collectionReference>Opportunities.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Error_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_All_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>In</operator>
            <value>
                <elementReference>From_Owners.recordIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Account_Name__c</queriedFields>
        <queriedFields>Owner_Name__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>270</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Updated_Record_Collection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Record_Collection</targetReference>
        </faultConnector>
        <inputReference>Loop_Selected_Opportunity</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Record_Display</name>
        <label>Error Record Display</label>
        <locationX>50</locationX>
        <locationY>2138</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>List_of_Error_Screen</targetReference>
        </connector>
        <fields>
            <name>Error_List</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Failed Opportunities&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>error_record_List</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Error_Opty_record_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6895&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;dbt__Owner_Name__c&quot;,&quot;guid&quot;:&quot;column-4d70&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Owner Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;dbt__Account_Name__c&quot;,&quot;guid&quot;:&quot;column-ceb0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;StageName&quot;,&quot;guid&quot;:&quot;column-1d30&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Stage&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Show Errors</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fifth_Screen_with_error</name>
        <label>Fifth Screen with error</label>
        <locationX>50</locationX>
        <locationY>2018</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Error_Record_Display</targetReference>
        </connector>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(8, 8, 8);&quot;&gt;{!Selcted_Oppty_Count}&lt;/strong&gt;&lt;span style=&quot;color: rgb(8, 8, 8);&quot;&gt;&amp;nbsp;Opportunities Selected&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(12, 124, 34);&quot;&gt;{!Updated_Records_Count}&lt;/strong&gt;&lt;span style=&quot;color: rgb(12, 124, 34);&quot;&gt;&amp;nbsp;Opportunities have been successfully transferred to&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;color: rgb(12, 124, 34);&quot;&gt;{!To_Owner.recordName}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(234, 4, 4);&quot;&gt;{!records_got_error}&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;color: rgb(234, 4, 4);&quot;&gt;Opportunities failed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fifth_Screen_without_error</name>
        <label>Fifth Screen without error</label>
        <locationX>314</locationX>
        <locationY>2018</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(8, 8, 8);&quot;&gt;{!Selcted_Oppty_Count}&lt;/strong&gt;&lt;span style=&quot;color: rgb(8, 8, 8);&quot;&gt;&amp;nbsp;Opportunities Selected&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(12, 124, 34);&quot;&gt;{!Updated_Records_Count}&lt;/strong&gt;&lt;span style=&quot;color: rgb(12, 124, 34);&quot;&gt;&amp;nbsp;Opportunities have been successfully transferred to&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;color: rgb(12, 124, 34);&quot;&gt;{!To_Owner.recordName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fourth_Screen</name>
        <label>Fourth Screen</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Selected_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Conformation_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Selcted_Oppty_Count}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; Opportunities will be trasferred to &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!To_Owner.recordName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>List_of_Error_Screen</name>
        <label>List_of_Error_Screen</label>
        <locationX>50</locationX>
        <locationY>2258</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Reason_for_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Opportunities with Error&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_List_error</name>
            <fieldText>&lt;p&gt;{!Failure_and_Id_Collection}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_One</name>
        <label>Screen  One</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <fields>
            <name>From_Owners</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>dbt__Program_Account_Manager__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>From Owners</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Get Opportunities</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Two</name>
        <label>Screen Two</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Third_Screen</targetReference>
        </connector>
        <fields>
            <name>Header_Two</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Select Opportunities to change the Owner&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Opportunities Found : &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Opportunites_found} (A maximum of 99 Opportunities can be selected)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunities</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Opportunities</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Opportunity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>99.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-5e64&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;dbt__Owner_Name__c&quot;,&quot;guid&quot;:&quot;column-cc29&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Owner Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;dbt__Account_Name__c&quot;,&quot;guid&quot;:&quot;column-0376&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;StageName&quot;,&quot;guid&quot;:&quot;column-6b86&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Stage&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CloseDate&quot;,&quot;guid&quot;:&quot;column-ea11&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Close Date&quot;,&quot;type&quot;:&quot;date&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Third_Screen</name>
        <label>Third Screen</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Getting_Collection_count</targetReference>
        </connector>
        <fields>
            <name>To_Owner</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>dbt__Program_Account_Manager__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>To Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_One</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Fault_Formula_with_ID</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&quot;Error Message : &quot;+ &quot; &quot;+{!$Flow.FaultMessage}+BR()+&quot;Opportunity Name : &quot; + &quot; &quot; + HYPERLINK(&quot;https://digtalbiz-dev-ed.lightning.force.com/lightning/r/Opportunity/&quot;+{!Loop_Selected_Opportunity.Id}+&quot;/view&quot;, {!Loop_Selected_Opportunity.Name})+BR()+BR()&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Error_Opty_record_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Failure_and_Id_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opportunites_found</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>records_got_error</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Selcted_Oppty_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Updated_Opportunity_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Updated_Records_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
