force-app/main/default/flows/Test_Screen_Flow_for_Error_Handling.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Test_Email</name>
        <label>Send Test Email</label>
        <locationX>694</locationX>
        <locationY>381</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_4</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>saichand.ballagiri@digitalbiz.tech</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Test Subject</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Emails</name>
        <label>Add Emails</label>
        <locationX>846</locationX>
        <locationY>177</locationY>
        <assignmentItems>
            <assignToReference>EmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Group_Member_Collection.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Group_Member_Collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Test Screen Flow for Error Handling {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Screen Flow for Error Handling</label>
    <loops>
        <name>Group_Member_Collection</name>
        <label>Group Member Collection</label>
        <locationX>695</locationX>
        <locationY>179</locationY>
        <collectionReference>Get_Group_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Emails</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Test_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Group_Details</name>
        <label>Get Group Details</label>
        <locationX>362</locationX>
        <locationY>166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Members</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DBT Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Members</name>
        <label>Get Group Members</label>
        <locationX>537</locationX>
        <locationY>178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Group_Member_Collection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Test_Error_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Group_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>660</locationX>
        <locationY>580</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_3</name>
            <fieldText>&lt;p&gt;Done&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_1</name>
        <label>Error 1</label>
        <locationX>356</locationX>
        <locationY>406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Test_Error_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(224, 20, 186);&quot;&gt;The Error is at the Group Name,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_4</name>
        <label>Error_4</label>
        <locationX>878</locationX>
        <locationY>371</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_14</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(221, 215, 26);&quot;&gt;Error sending Email&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Test_Error_2</name>
        <label>Test Error 2</label>
        <locationX>541</locationX>
        <locationY>390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Test_2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(205, 123, 14);&quot;&gt;The Error is at Group Members, &lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Text_Input</name>
        <label>Text Input</label>
        <locationX>149</locationX>
        <locationY>238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Group_Details</targetReference>
        </connector>
        <fields>
            <name>Input_the_Text</name>
            <dataType>String</dataType>
            <fieldText>Input the Text</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Text_Input</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi Everyone, this is a test mail with a test text &lt;/p&gt;&lt;p&gt;{!Input_the_Text}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
