force-app/main/default/flows/Test_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>Abc</name>
        <choiceText>Abc</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Abc</stringValue>
        </value>
    </choices>
    <choices>
        <name>def</name>
        <choiceText>def</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>def</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Test flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>lead</name>
        <label>lead</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>City</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NewYork</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>First_Picklist</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>First_Screen</name>
        <label>First Screen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>lead</targetReference>
        </connector>
        <fields>
            <name>First_Picklist</name>
            <choiceReferences>Abc</choiceReferences>
            <choiceReferences>def</choiceReferences>
            <dataType>String</dataType>
            <fieldText>First Picklist</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>First_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
