force-app/main/default/flows/Test_Absense.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Employee_Ids_to_send_Email</name>
        <label>Employee Ids to send Email</label>
        <locationX>264</locationX>
        <locationY>1608</locationY>
        <assignmentItems>
            <assignToReference>Collect_Emp_Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_Employees.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Employees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Absence_Duration</name>
        <label>Get Absence Duration</label>
        <locationX>484</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>Duration_var</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_each_Line_Items.Duration__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_each_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Active_Employee_Ids</name>
        <label>Store Active Employee Ids</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>Emp_id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_to_Store_Active_Employee_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_to_Store_Active_Employee_Ids</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_Respective_Employee_Time_Sheet_Line_Items</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Respective Employee Time Sheet Line Items</label>
        <locationX>396</locationX>
        <locationY>1092</locationY>
        <assignNextValueToReference>currentItem_Get_Respective_Employee_Time_Sheet_Line_Items</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Time_Sheet_Line_Items</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Respective_Employee_Time_Sheet_Line_Items.Employee__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Iterate_through_Employees.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_through_each_Line_Items</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>396</locationX>
        <locationY>1500</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_Employees</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duration_Greater_than_Permitted_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dur_to_Day</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Metadata_Type.Accrued_Vacation_Days__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employee_Ids_to_send_Email</targetReference>
            </connector>
            <label>Duration Greater than Permitted Days</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Dur_to_Day</name>
        <dataType>Number</dataType>
        <expression>{!Duration_var} / {!Get_Metadata_Type.Working_Hours_Per_Day__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Test Absense {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Absense</label>
    <loops>
        <name>Iterate_through_each_Line_Items</name>
        <label>Iterate through each Line Items</label>
        <locationX>396</locationX>
        <locationY>1200</locationY>
        <collectionReference>Get_Time_Sheet_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Absence_Duration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_Employees</name>
        <label>Iterate through Employees</label>
        <locationX>176</locationX>
        <locationY>984</locationY>
        <collectionReference>Get_Employees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Respective_Employee_Time_Sheet_Line_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_to_Store_Active_Employee_Ids</name>
        <label>loop to Store Active Employee Ids</label>
        <locationX>176</locationX>
        <locationY>576</locationY>
        <collectionReference>Get_Employees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Active_Employee_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Time_Sheet_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>176</locationX>
        <locationY>1884</locationY>
        <collectionReference>Collect_Emp_Id</collectionReference>
        <iterationOrder>Asc</iterationOrder>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Employees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Time_Sheet_Vacation_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employees</name>
        <label>Get Employees</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_to_Store_Active_Employee_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employee__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Metadata_Type</name>
        <label>Get Metadata Type</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Notification_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default_Values</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Timesheet_Default_Value__mdt</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Time_Sheet_Line_Items</name>
        <label>Get Time Sheet Line Items</label>
        <locationX>176</locationX>
        <locationY>876</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_Employees</targetReference>
        </connector>
        <filterLogic>1 OR (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Employee__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Emp_id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Absence_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>dbt__Absence_Category__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Absence_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PTO-Planned</stringValue>
            </value>
        </filters>
        <filters>
            <field>Absence_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PTO-Un Planned</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Timesheet_Line_Item__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Metadata_Type</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-01-20</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Collect_Emp_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Get_Respective_Employee_Time_Sheet_Line_Items</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Timesheet_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>Duration_var</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Emp_id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
