force-app/main/default/flows/Update_Comment_to_Caps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AssignCommentValue</name>
        <label>AssignCommentValue</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>GetRecordId.Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetToUpper</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateComment</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>SetToUpper</name>
        <dataType>String</dataType>
        <expression>UPPER({!GetRecordId.Comment__c})</expression>
    </formulas>
    <interviewLabel>Update Comment to Caps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Comment to Caps</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRecordId</name>
        <label>GetRecordId</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignCommentValue</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Comment__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateComment</name>
        <label>UpdateComment</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputReference>GetRecordId</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordId</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
</Flow>
